/* styleComponents/TableRelatorioCss.css */

.tableContainer {
  width: 95%; /* Largura total do container */
  height: 95%; /* Limite de altura para 95% da viewport */
  overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
  border: 1px solid #ccc; /* Borda ao redor do container */
}

.table {
  width: 100%; /* Largura total do container */
  border-collapse: collapse; /* Remove espaçamento entre células */
}

.table th,
.table td {
  padding: 12px; /* Espaçamento interno */
  text-align: center; 
  border: 1px solid #ccc; /* Linha de separação entre as linhas */
}

.table th {
  text-align: center; /* Alinhamento do texto à esquerda para cabeçalhos */
  background-color: #f4f4f4; /* Cor de fundo para o cabeçalho */
  font-weight: bold; /* Texto em negrito para o cabeçalho */
}

.table tr:hover {
  background-color: #f9f9f9; /* Cor de fundo ao passar o mouse */
}
